body {
  background-color: white;
  color: #282828;
  font-family: 'Gilroy', sans-serif;
}

main {
  overflow-x: hidden;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 1274px;
  margin: 0 auto;

  &_owner {
    max-width: 1440px;

    @media (max-width: 1500px) {
      padding: 0 30px;
    }
  }

  @media (max-width: 1300px) {
    padding: 0 30px;
  }

  @media (max-width: 575px) {
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
}
